.app-modal {
  .mantine-Modal-inner {
    top: 40px; // titlebar height
    left: 0;
    right: 0;
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
  }
  .mantine-Modal-content {
    flex: initial !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    border-radius: initial !important;
    & > div,
    & > div > div {
      display: contents !important;
    }
  }
  .mantine-ScrollArea-root {
    display: contents !important;
    width: auto !important;
    height: auto !important;
    min-width: initial !important;
  }
  .mantine-ScrollArea-viewport {
    display: contents !important;
    width: auto !important;
    height: auto !important;
    min-width: initial !important;
    & > div {
      display: contents !important;
      width: auto !important;
      height: auto !important;
      min-width: initial !important;
    }
  }
  .mantine-Modal-body {
    padding: 0 !important;
    display: contents !important;
    width: auto !important;
    height: auto !important;
    min-width: initial !important;
  }
}
