.swiper-scrollbar-drag {
  background: rgba(255, 255, 255, 0.6) !important;
}
.swiper.mousewheel-smooth {
  .swiper-wrapper,
  .swiper-scrollbar-drag {
    transition-duration: 300ms !important;
  }
}

.box-shadow {
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.9);
}
