@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  @apply text-white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;
  position: relative;
}
#root {
  @apply inset-0 flex flex-col;
  position: absolute;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(12, 12, 12, 0.58);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(94, 94, 94, 0.68);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #706f6f;
}
