.model-image {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: auto;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
  }

  &.fit-width {
    height: auto !important;
    img {
      width: 100% !important;
    }
  }
  &.fit-height {
    width: auto !important;
    img {
      height: 100% !important;
    }
  }
}
